<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SuperSecure HTML to PDF convertor</title>
</head>
<body>
    <h1 style="align:center">Super Secure HTML TO PDF Converter</h1> 

    <h3 style="text-align:center">{{status}}</h3>
    <h3 style="text-align:center">{{filename}}</h3>
</br></br>
<center>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" id="myFile" required />
        <input type="submit"  class="btn btn-primary" value="Convert To PDF" />
    </form></center
</body>
</html> 