<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="/logout" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><font color='red'>
              <% if(this.msg) { %>
              <p><%= msg %></p>
                <% } %></font></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">    <form class="form-horizontal" action="" id="form" name="form" method="post">
                      <input type="file" name="myFile" />
                         <input type="submit" value="Upload a file"/>
                        </form> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>proffession:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>15/6/2018</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>unknown</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>male</td>
                      </tr>
                        <tr>
                        <td>Email</td>
                          <td><a id ="user" href="mailto:">user</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>8606826345<br>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <script>
              const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

                     const user = urlParams.get('user')
document.getElementById("user").innerHTML = user

</script>

<script>
  $('#form').on('submit', function(event){
    var form = document.getElementById("form"),
    myData = new FormData(form);
   $.ajax({
       type: 'POST',
       url: '/uploadfile',
       dataType: 'xml',
       data: myData,
       processData: false,
       contentType :false,
       success: function(data) {
           alert("registered successfully")
       },
       error: function(data) {
         var json = JSON.stringify(data.responseText);
         alert(json)

 }
   });

  return false;
});
</script>

                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/profile/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/xmltojson.js"></script>
    <script type="text/javascript" src="../js/serialise.js"></script>
